.DS_Store

.blobs/
blobs/
.dev_builds/
dev_releases/
config/dev.yml
config/private.yml
src_alt

# Golang
/bin/
/pkg/

# gosub and friends
src/github.com/vito/gosub
src/github.com/codegangsta/cli

*.tgz

/bazel-*
